USE [master]
GO
/****** Object:  Database [HRDatabase]    Script Date: 18.06.2024 13:05:27 ******/
CREATE DATABASE [HRDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HRDatabase', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HRDatabase_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\HRDatabase_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HRDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HRDatabase]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[VacancyID] [int] NULL,
	[EmployeeID] [int] NULL,
	[ApplicationDate] [date] NULL,
	[Status] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Archive]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive](
	[Number] [int] IDENTITY(1,1) NOT NULL,
	[DocName] [nvarchar](50) NULL,
	[IdTypeDoc] [int] NULL,
	[DocStatus] [bit] NULL,
	[ConfOfLoss] [bit] NULL,
	[ConfOfTrade] [bit] NULL,
	[ConfOfDestroy] [bit] NULL,
	[IdEduLevel] [int] NULL,
	[DocSeries] [nvarchar](50) NULL,
	[DocNumber] [nvarchar](40) NULL,
	[DateOfIssue] [date] NULL,
	[RegNumber] [nvarchar](50) NULL,
	[SpecializationCode] [int] NULL,
	[SpecializationName] [nvarchar](max) NULL,
	[NameOfQual] [nvarchar](max) NULL,
	[NameEduProg] [nvarchar](max) NULL,
	[YearOfAdmission] [int] NULL,
	[YearOfEnd] [int] NULL,
	[EduDuration] [int] NULL,
	[SurnameOfRecepient] [nvarchar](50) NULL,
	[NameOfRecepient] [nvarchar](50) NULL,
	[MiddleNameOfRecepinet] [nvarchar](50) NULL,
	[DOBRecepinet] [date] NULL,
	[SexRecepinet] [bit] NULL,
	[CountryCode] [int] NULL,
	[EduForm] [int] NULL,
	[FormOfEducationTermination] [int] NULL,
	[SourceOfFinancing] [int] NULL,
	[AvailabilityOfСontract] [bit] NULL,
 CONSTRAINT [PK_Archive] PRIMARY KEY CLUSTERED 
(
	[Number] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CountryCode]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CountryCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](15) NULL,
 CONSTRAINT [PK_CountryCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[DepartmentHead] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DocType]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DocType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_DocType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Education]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Education](
	[EducationID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[EducationLevel] [varchar](50) NULL,
	[EducationInstitution] [varchar](100) NULL,
	[EducationSpecialty] [varchar](100) NULL,
	[GraduationDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EducationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationForm]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationForm](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
 CONSTRAINT [PK_EducationForm] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EducationLevel]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EducationLevel](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_EducationLevel] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[MiddleName] [varchar](50) NULL,
	[DateOfBirth] [date] NOT NULL,
	[PlaceOfBirth] [varchar](100) NULL,
	[Gender] [varchar](10) NULL,
	[Citizenship] [varchar](50) NULL,
	[RegistrationAddress] [varchar](255) NULL,
	[ResidentialAddress] [varchar](255) NULL,
	[Phone] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[PassportSeries] [varchar](10) NULL,
	[PassportNumber] [varchar](20) NULL,
	[PassportIssuedBy] [varchar](100) NULL,
	[PassportIssueDate] [date] NULL,
	[INN] [varchar](20) NULL,
	[SNILS] [varchar](20) NULL,
	[MilitaryID] [varchar](20) NULL,
	[MilitaryDocumentType] [varchar](50) NULL,
	[BirthCertificate] [varchar](50) NULL,
	[DepartmentID] [int] NULL,
	[Position] [int] NULL,
	[StartDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FormOfEducationTermination]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FormOfEducationTermination](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_FormOfEducationTermination] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MedicalRecords]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MedicalRecords](
	[MedicalRecordID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[RecordDate] [date] NULL,
	[MedicalInfo] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicalRecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SourceOfFinancing]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SourceOfFinancing](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_SourceOfFinancing] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SpecializationCode]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SpecializationCode](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](50) NULL,
 CONSTRAINT [PK_SpecializationCode] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](150) NOT NULL,
	[IdRole] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vacancies]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vacancies](
	[VacancyID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](100) NULL,
	[Description] [text] NULL,
	[Salary] [decimal](10, 2) NULL,
	[CreationDate] [date] NULL,
	[Status] [varchar](50) NULL,
	[DepartmentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[VacancyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[WorkExperience]    Script Date: 18.06.2024 13:05:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[WorkExperience](
	[WorkExperienceID] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeID] [int] NULL,
	[JobTitle] [varchar](100) NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
	[Company] [varchar](100) NULL,
	[Department] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[WorkExperienceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([ApplicationID], [VacancyID], [EmployeeID], [ApplicationDate], [Status]) VALUES (1, 2, 4, CAST(N'2024-05-19' AS Date), N'Рассматривается')
INSERT [dbo].[Applications] ([ApplicationID], [VacancyID], [EmployeeID], [ApplicationDate], [Status]) VALUES (2, 3, 5, CAST(N'2024-05-19' AS Date), N'Рассматривается')
INSERT [dbo].[Applications] ([ApplicationID], [VacancyID], [EmployeeID], [ApplicationDate], [Status]) VALUES (3, 4, 6, CAST(N'2024-05-19' AS Date), N'Рассматривается')
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[Archive] ON 

SET IDENTITY_INSERT [dbo].[Archive] OFF
GO
SET IDENTITY_INSERT [dbo].[CountryCode] ON 

INSERT [dbo].[CountryCode] ([Id], [Code]) VALUES (1, N'96')
INSERT [dbo].[CountryCode] ([Id], [Code]) VALUES (2, N'100')
INSERT [dbo].[CountryCode] ([Id], [Code]) VALUES (3, N'104')
GO
SET IDENTITY_INSERT [dbo].[CountryCode] OFF
GO
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentHead]) VALUES (2, N'Бухгалтерия', 8)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentHead]) VALUES (3, N'Хозяйственная часть', 5)
INSERT [dbo].[Departments] ([DepartmentID], [DepartmentName], [DepartmentHead]) VALUES (4, N'Воспитательный блок', 6)
SET IDENTITY_INSERT [dbo].[Departments] OFF
GO
SET IDENTITY_INSERT [dbo].[DocType] ON 

INSERT [dbo].[DocType] ([Id], [Name]) VALUES (1, N'Диплом о среднем профессиональном образовании')
INSERT [dbo].[DocType] ([Id], [Name]) VALUES (2, N'Диплом о среднем профессиональном образовании (базовый уровень)')
INSERT [dbo].[DocType] ([Id], [Name]) VALUES (3, N'Академическая справка')
SET IDENTITY_INSERT [dbo].[DocType] OFF
GO
SET IDENTITY_INSERT [dbo].[Education] ON 

INSERT [dbo].[Education] ([EducationID], [EmployeeID], [EducationLevel], [EducationInstitution], [EducationSpecialty], [GraduationDate]) VALUES (1, 4, N'Высшее', N'Московский государственный университет', N'Информационные технологии', CAST(N'2010-06-30' AS Date))
INSERT [dbo].[Education] ([EducationID], [EmployeeID], [EducationLevel], [EducationInstitution], [EducationSpecialty], [GraduationDate]) VALUES (2, 4, N'Среднее техническое', N'Техникум информационных технологий', N'Программирование', CAST(N'2006-06-30' AS Date))
INSERT [dbo].[Education] ([EducationID], [EmployeeID], [EducationLevel], [EducationInstitution], [EducationSpecialty], [GraduationDate]) VALUES (3, 5, N'Высшее', N'Санкт-Петербургский государственный университет', N'Экономика', CAST(N'2012-06-30' AS Date))
SET IDENTITY_INSERT [dbo].[Education] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationForm] ON 

INSERT [dbo].[EducationForm] ([Id], [Name]) VALUES (1, N'Очная')
INSERT [dbo].[EducationForm] ([Id], [Name]) VALUES (2, N'Очно заочная (вечерняя)')
INSERT [dbo].[EducationForm] ([Id], [Name]) VALUES (3, N'Заочная')
SET IDENTITY_INSERT [dbo].[EducationForm] OFF
GO
SET IDENTITY_INSERT [dbo].[EducationLevel] ON 

INSERT [dbo].[EducationLevel] ([Id], [Name]) VALUES (1, N'Среднее профессиональное образование')
INSERT [dbo].[EducationLevel] ([Id], [Name]) VALUES (2, N'Среднее профессиональное образование - программа подготовки специалистов среднего звена')
INSERT [dbo].[EducationLevel] ([Id], [Name]) VALUES (3, N'Среднее профессиональное образование - программа подготовки квалифицированных рабочих, служащих')
SET IDENTITY_INSERT [dbo].[EducationLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[FormOfEducationTermination] ON 

INSERT [dbo].[FormOfEducationTermination] ([Id], [Name]) VALUES (1, N'в образовательной организации')
INSERT [dbo].[FormOfEducationTermination] ([Id], [Name]) VALUES (2, N'вне образовательной организации')
SET IDENTITY_INSERT [dbo].[FormOfEducationTermination] OFF
GO
SET IDENTITY_INSERT [dbo].[MedicalRecords] ON 

INSERT [dbo].[MedicalRecords] ([MedicalRecordID], [EmployeeID], [RecordDate], [MedicalInfo]) VALUES (1, 4, CAST(N'2024-05-19' AS Date), N'Здоров')
INSERT [dbo].[MedicalRecords] ([MedicalRecordID], [EmployeeID], [RecordDate], [MedicalInfo]) VALUES (2, 5, CAST(N'2024-05-19' AS Date), N'Аллергия на пыль')
INSERT [dbo].[MedicalRecords] ([MedicalRecordID], [EmployeeID], [RecordDate], [MedicalInfo]) VALUES (3, 5, CAST(N'2024-05-19' AS Date), N'Гипертония')
SET IDENTITY_INSERT [dbo].[MedicalRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Id], [Name]) VALUES (1, N'Кадровик')
INSERT [dbo].[Role] ([Id], [Name]) VALUES (2, N'Юрист')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[SourceOfFinancing] ON 

INSERT [dbo].[SourceOfFinancing] ([Id], [Name]) VALUES (1, N'Федеральный бюджет')
INSERT [dbo].[SourceOfFinancing] ([Id], [Name]) VALUES (2, N'Региональный бюджет')
INSERT [dbo].[SourceOfFinancing] ([Id], [Name]) VALUES (3, N'Местный бюджет')
SET IDENTITY_INSERT [dbo].[SourceOfFinancing] OFF
GO
SET IDENTITY_INSERT [dbo].[SpecializationCode] ON 

INSERT [dbo].[SpecializationCode] ([Id], [Code]) VALUES (1, N'0100')
INSERT [dbo].[SpecializationCode] ([Id], [Code]) VALUES (2, N'0101')
INSERT [dbo].[SpecializationCode] ([Id], [Code]) VALUES (3, N'0102')
GO
SET IDENTITY_INSERT [dbo].[SpecializationCode] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [IdRole]) VALUES (1, N'Левкин Дмитрий', N'FuzeK', N'FuzeK', 1)
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [IdRole]) VALUES (2, N'Левкин Дмитрий', N'FuzeJ', N'FuzeJ', 2)
INSERT [dbo].[User] ([Id], [Name], [Login], [Password], [IdRole]) VALUES (3, N'Бойкова Наталья', N'FuzeN', N'FuzeN', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Vacancies] ON 

INSERT [dbo].[Vacancies] ([VacancyID], [Title], [Description], [Salary], [CreationDate], [Status], [DepartmentID]) VALUES (2, N'Директор', N'Колледж ищет опытного лидера



', CAST(70000.00 AS Decimal(10, 2)), CAST(N'2023-05-15' AS Date), N'Открыта', 8)
INSERT [dbo].[Vacancies] ([VacancyID], [Title], [Description], [Salary], [CreationDate], [Status], [DepartmentID]) VALUES (3, N'Зав. Хозяйственной частью', N'Колледж ищет ответственного заведующего хозяйственной частью для обеспечения эффективного управления хозяйственными и техническими службами. Кандидат должен обладать опытом в организации и контроле за хозяйственными процессами и знанием нормативной документации.', CAST(60000.00 AS Decimal(10, 2)), CAST(N'2023-05-15' AS Date), N'Открыта', 3)
INSERT [dbo].[Vacancies] ([VacancyID], [Title], [Description], [Salary], [CreationDate], [Status], [DepartmentID]) VALUES (4, N'Зам по воспитательной работе', N'Требуется заместитель директора по воспитательной работе для работы с детьми', CAST(80000.00 AS Decimal(10, 2)), CAST(N'2023-05-15' AS Date), N'Открыта', 4)
SET IDENTITY_INSERT [dbo].[Vacancies] OFF
GO
SET IDENTITY_INSERT [dbo].[WorkExperience] ON 

INSERT [dbo].[WorkExperience] ([WorkExperienceID], [EmployeeID], [JobTitle], [StartDate], [EndDate], [Company], [Department]) VALUES (1, 4, N'Разработчик ПО', CAST(N'2018-03-15' AS Date), CAST(N'2020-06-30' AS Date), N'ABC Software', N'Отдел разработки ПО')
INSERT [dbo].[WorkExperience] ([WorkExperienceID], [EmployeeID], [JobTitle], [StartDate], [EndDate], [Company], [Department]) VALUES (2, 5, N'Менеджер по продажам', CAST(N'2019-01-10' AS Date), CAST(N'2021-05-20' AS Date), N'XYZ Corporation', N'Отдел продаж')
INSERT [dbo].[WorkExperience] ([WorkExperienceID], [EmployeeID], [JobTitle], [StartDate], [EndDate], [Company], [Department]) VALUES (3, 6, N'Финансовый аналитик', CAST(N'2020-05-01' AS Date), NULL, N'123 Investments', N'Финансовый отдел')
SET IDENTITY_INSERT [dbo].[WorkExperience] OFF
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD FOREIGN KEY([VacancyID])
REFERENCES [dbo].[Vacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_CountryCode] FOREIGN KEY([CountryCode])
REFERENCES [dbo].[CountryCode] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_CountryCode]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_DocType] FOREIGN KEY([IdTypeDoc])
REFERENCES [dbo].[DocType] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_DocType]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_EducationForm] FOREIGN KEY([EduForm])
REFERENCES [dbo].[EducationForm] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_EducationForm]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_EducationLevel] FOREIGN KEY([IdEduLevel])
REFERENCES [dbo].[EducationLevel] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_EducationLevel]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_FormOfEducationTermination] FOREIGN KEY([FormOfEducationTermination])
REFERENCES [dbo].[FormOfEducationTermination] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_FormOfEducationTermination]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_SourceOfFinancing] FOREIGN KEY([SourceOfFinancing])
REFERENCES [dbo].[SourceOfFinancing] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_SourceOfFinancing]
GO
ALTER TABLE [dbo].[Archive]  WITH CHECK ADD  CONSTRAINT [FK_Archive_SpecializationCode] FOREIGN KEY([SpecializationCode])
REFERENCES [dbo].[SpecializationCode] ([Id])
GO
ALTER TABLE [dbo].[Archive] CHECK CONSTRAINT [FK_Archive_SpecializationCode]
GO
ALTER TABLE [dbo].[Departments]  WITH CHECK ADD FOREIGN KEY([DepartmentHead])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Education]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Vacancies] FOREIGN KEY([Position])
REFERENCES [dbo].[Vacancies] ([VacancyID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Vacancies]
GO
ALTER TABLE [dbo].[MedicalRecords]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([IdRole])
REFERENCES [dbo].[Role] ([Id])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
ALTER TABLE [dbo].[Vacancies]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [dbo].[Departments] ([DepartmentID])
GO
ALTER TABLE [dbo].[WorkExperience]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
USE [master]
GO
